* {
    margin: 3px ;
    padding: 0%;
    font-size: 40px;
    background-color: olive;
}

body {
    display: grid;
    place-items: center; 
    min-height: 100vh;
    margin: 0;
}


.main-form{
    background-color: darkgray;
    width: 295px;
    height: 550px; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    align-items:end;
    display: flex;
    place-items: center;
}

#dicplei {
    width: 286px;
    height: 60px;
    background:lightgray ;
    border: 2px solid gray;
    text-align: right;
    font-size: 45px;
}


.knopka {
    color: black;
    background: lightgray;
    width: 60px;
    height: 90px;
    justify-content:flex-start;
}

#clear {
    color: black;
    background-color: gold;
    width: 60px;
    height: 90px;
    justify-content:flex-start;
    margin-right: 1px;

}
#test {
    color:black;
    width: 200px;
    background-color: darkgray;
    text-align: right;
}

